<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.UIAutomatorTestApp">

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".BasicControlsActivity" android:exported="false" />
        <activity android:name=".GesturesActivity" android:exported="false" />
        <activity android:name=".InputFormsActivity" android:exported="false" />
        <activity android:name=".ListsActivity" android:exported="false" />
        <activity android:name=".DialogsActivity" android:exported="false" />
        <activity android:name=".NavigationActivity" android:exported="false" />
        <activity android:name=".AnimationsActivity" android:exported="false" />
        <activity android:name=".StressTestActivity" android:exported="false" />
        <activity android:name=".ConcurrentTestActivity" android:exported="false" />
    </application>

</manifest>
